#shortened_url
  %h1 URL shortener app

  #new_url_button
    = link_to "New url", new_shortened_url_path, class: "btn btn-primary btn-lg"

  - if flash[:notice]
    .notice
      = flash[:notice]

  - if ShortenedUrl.any?
    %table{ class: "table table-dark table-striped table-bordered" }
      %thead
        %tr
          %th Short URL
          %th Full URL
          %th Delete
          %th View statistics chart
      %tbody
        - @urls.each do |url|
          %tr
            %td= link_to url.key, url.key
            %td= url.full_url
            %td= link_to "Delete", url, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-outline-danger'
            %td= link_to "Details", url, class: 'btn btn-sm btn-outline-success'
